.footer {
  background-color: black;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  clear: both;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer div {
  text-align: right;
}

.España {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.logo-españa {
  margin-left: 10px;
}
